.idea/
.project
.settings/
.classpath
.factorypath
*.iml
*.zip
*.rtf
target/
*/.DS_Store
*/src/main/generated
*.tlog
Thumbs.db
**/MANIFEST.MF
**/bin/
*/**/maven/*
*/**/.tern-project
*/**/*.jar
*/**/*.js.map
*/**/*.d.ts
!*/**/resources/ts/typings/**/*.d.ts
node_modules
deployments
firebase-account.json
google-services.json