html {
    background-color: #484848;
}

div.centered {
    position: absolute;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    max-width: 600px;
}

h1, h2, h3, input, label {
    color: #ffffff;
}

