version: "2.1"
services:
    rpisec-postgres:
        container_name: rpisec-postgres
        image: tobi312/rpi-postgresql:9.6
        environment:
            - POSTGRES_USER=${RPISEC_DB_USER}
            - POSTGRES_PASSWORD=${RPISEC_DB_PASSWORD}
            - POSTGRES_ROOT_PASSWORD=${RPISEC_DB_ROOT_PASSWORD}
            - POSTGRES_DATABASE=${RPISEC_DB_NAME}
        mem_limit: 256m
        cpu_shares: 2
        volumes:
            - ${POSTGRES_DATA_VOLUME}:/var/lib/postgresql/data:rw
    rpisec-app:
        container_name: rpisec-app
        build:
            context: ./app
        volumes:
            - ${APP_VOLUME}:/home/rpisec/app:rw
            - ${APP_CONF_VOLUME}:/home/rpisec/conf:ro
        environment:
            - APP_JAVA_OPTS=-Xms512m -Xmx512m
            - POSTGRES_HOST=rpisec-postgres:5432
            - RPISEC_DB_NAME=${RPISEC_DB_NAME}
            - RPISEC_DB_USER=${RPISEC_DB_USER}
            - RPISEC_DB_PASSWORD=${RPISEC_DB_PASSWORD}
            - APP_VERSION=0.0.1-SNAPSHOT
        mem_limit: 512m
        cpu_shares: 2
        depends_on:
            - rpisec-postgres
    rpisec-nginx:
        container_name: rpisec-nginx
        image: rpisec-nginx
        build:
            context: ./nginx
        volumes:
            - ${NGINX_LOG_VOLUME}:/var/log/nginx:rw
            - ${NGINX_CERT_VOLUME}:/cert:ro
        mem_limit: 128m
        cpu_shares: 2
        ports:
            - 443:443
            - 80:80
        depends_on:
            - rpisec-postgres
            - rpisec-app
