<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title th:text="#{title.verify.email}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="centered">
    <h1 th:text="#{message.account.verified}"/>
</div>
</body>

<script th:src="@{jquery/jquery.min.js}"/>
<script th:src="@{bootstrap/js/bootstrap.min.js}"/>
</html>