<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title th:text="#{title.verify.email}" rel="stylesheet"></title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/main.css}" rel="stylesheet"/>
</head>
<!--/*@thymesVar id="model" type="at.rpisec.server.view.model.PasswordFormModel"*/-->
<body>
<div class="centered">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('model.*')}" style="max-width: 600px;">
        <strong th:text="#{validation.failed}"/>
        <div th:each="err : ${#fields.errors('model.*')}" th:text="${err}"/>
    </div>
    <div class="container-fluid">
        <form id="verifyAccountForm" th:role="form" th:action="@{/verifySetPassword}" th:object="${model}" th:method="post">
            <div class="form-group">
                <label th:text="#{label.password}" for="password"/>
                <input id="password" type="password" class="form-control" th:field="*{password}"/>
            </div>
            <div class="form-group">
                <label th:text="#{label.confirmation}" for="confirm"/>
                <input id="confirm" type="password" class="form-control" th:field="*{confirmPassword}"/>
            </div>
            <input type="hidden" th:field="*{username}"/>
            <button type="submit" class="btn btn-primary" th:text="#{action.submit}"/>
        </form>
    </div>
</div>
</body>

<script th:src="@{jquery/js/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</html>