<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="model" type="at.rpisec.oauth.view.model.ErrorModel"*/-->

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>404</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/error.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"/>
        <div class="col error-template">
            <h1>Oops</h1>
            <div class="error-code">
                <img th:src="@{/icon/error-triangle.png}" class="inverted-colors" alt="500 Error occurred" height="256" width="256"/>
            </div>
            <h1>404</h1>
            <div class="error-details">
                <span th:text="#{error._404}"/>
            </div>
        </div>
        <div class="col"/>
    </div>
</div>
</body>
</html>